@use "variables" as v;

@mixin phone {
  @media (min-width: v.$phone) {
    @content; // Permite que al momento de llamarlo con include se pueda escribir dentro de este bloque
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin desktopXL {
  @media (min-width: v.$desktopXL) {
    @content;
  }
}

@mixin grid($col, $row: 0, $gap) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  @if ($row > 0) {
    grid-template-rows: repeat($row, 1fr);
  }
  gap: $gap;
}

@mixin resetList {
  margin: 0;
  padding: 0;
  list-style: none;
}
