// Colors
$black: #0b0b0b;
$white: #f1f1f1;
$red: #a81235;
$yellow: #d9af4b;
$pink: #f72585;
$purple: #7209b7;
$darkBlue: #3a0ca3;
$blue: #4361ee;
$lightBlue: #4cc9f0;
$green: #159c86;

// Fonts
$mainFont: "Montserrat", sans-serif;

// MQ sizes
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
