@use "base/variables" as v;
@use "base/mixins" as m;

.about-festival {
    padding: 5rem 0;    
    display: grid;    
    
    @include m.desktop {
        @include m.grid(2, 0, 5rem);
    }
}

.festival-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;

    @include m.desktop {
        margin-top: 0;
    }

    h2 {
        margin: 0 0 2rem 0;
    }

    .festival-date {
        color: v.$pink;
        font-weight: 700;
    }
}