@use "../base/variables" as v;

.site-footer {
    background-color: v.$pink;
    text-align: center;
    padding: 1rem;
    p {
        color: v.$white;
        margin: 0;
        font-size: 1.5rem;
    }
}