@use "base/variables" as v;
@use "base/mixins" as m;

.gallery {
  padding: 5rem 0;

  h3 {
    text-align: center;
  }
}

.gallery-imgs {
  @include m.resetList;
  @include m.grid(2, 0, 2rem);
  @include m.tablet {
    @include m.grid(4, 0, 2rem);
  }
  @include m.desktop {
    @include m.grid(6, 0, 2rem);
  }

  picture {
    &:hover {
      cursor: pointer;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #252525ac;

  picture {
    display: block;
    max-width: 90rem;
  }
}

.btn-close {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: v.$white;
  font-weight: 700;
  display: grid;
  place-items: center;

  &:hover {
    cursor: pointer;
  }
}