@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  background-color: v.$purple;

  @include m.desktop {
    &.fixed {
      position: fixed;
      width: 100%;
      box-shadow: 0.2rem 0.2rem 0.2rem #5454546c;
      top: 0;
      left: 0;
    }
  }

  h1 {
    color: v.$white;
    text-align: center;

    @include m.tablet {
      margin: 0;
    }
  }

  .header-content {
    padding: 2rem;
    @include m.tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.main-nav {
  @include m.tablet {
    display: flex;
    gap: 2rem;
  }

  a {
    display: block;
    text-align: center;
    color: v.$white;
    font-size: 2.4rem;
    margin-bottom: 1rem;

    @include m.tablet {
      margin: 0;
    }

    &:hover {
      // El & elimina el espacio cuando se compila en el archivo css
      color: v.$yellow;
    }
  }
}
