@use "base/variables" as v;
@use "base/mixins" as m;

.lineup {
  background-color: v.$red;
  padding: 5rem 0;

  h3,
  p {
    text-align: center;
    color: v.$white;
  }

  .dia {
    text-transform: uppercase;
    margin: 5rem 0;
  }
}

.scenarios-container {
  @include m.tablet {
    @include m.grid(2, 0, 5rem);
  }

  p {
    color: v.$black;
  }
}

.scenario {
  padding-top: 2rem;
  margin-bottom: 2rem;

  @include m.tablet {
    margin-bottom: 0;
  }

  .scenario-name {
    &::after {
      content: "";
      display: block;
      width: 20rem;
      height: 10rem;
      background-size: 15rem;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 2rem auto 0 auto;
    }
  }
}

.edm .scenario-name::after {
  background-image: url(/build/img/icono_edm.png);
}

.rock .scenario-name::after {
  background-image: url(/build/img/icono_rock.png);
}

.calendar {
    @include m.resetList;

    li {
        padding: 2.5rem;
        font-weight: 700;

        span {
            font-weight: 400;
        }
    }
}

.bg-yellow {
  background-color: v.$yellow;
  
  li:nth-child(odd) {
    // odd selecciona los impares y even los pares
    background-color: darken(v.$yellow, 15%); // darken oscurece un poco mas el color 
  }
}

.bg-green {
  background-color: v.$green;

  li:nth-child(odd) {
    background-color: darken(v.$green, 10%);
  }
}

.bg-purple {
  background-color: v.$purple;
}
