@use "../base/variables" as v;
@use "../base/mixins" as m;

.tickets {
  padding: 5rem 0;

  h3 {
    text-align: center;
    color: v.$white;
    margin-bottom: 2rem
  }

  .tickets-container {
    @include m.tablet {
      @include m.grid(2, 0, 2rem);
    }
  }
}

.pass {
  &-header {
    background-color: v.$pink;
    p {
      text-transform: uppercase;
      font-size: 1.6rem;
    }
  }
  &-body {
    background-color: v.$white;
    ul {
      @include m.resetList;
      li {
        padding: 1rem;
        border-bottom: 1px solid #e1e1e1;
      }
    }
  }
  &-footer {
    background-color: v.$blue;
    p {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
  &-header,
  &-footer {
    padding: 0.5rem;
    p {
      text-align: center;
      color: v.$white;
      margin: 0;
    }
  }

  .pass-name {
    text-align: center;
    color: v.$white;
    font-size: 2.2rem;
  }
}
