@use "base/variables" as v;
@use "base/mixins" as m;

.video {
  position: relative;
  max-height: 65rem;
  min-height: 50rem;
  overflow: hidden;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(85, 5, 144);
    background: linear-gradient(
      117deg,
      rgba(85, 5, 144, 0.5702613809195554) 0%,
      rgba(255, 0, 140, 0.5030344901632529) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  video {
    width: auto;
    display: block;

    @include m.desktop {
      width: 100%;
    }
  }
}

.video-content {
  h2 {
    color: v.$white;
    font-size: 5rem;
    margin: 0;

    @include m.tablet {
      font-size: 7rem;
    }
  }

  p {
    background-color: v.$pink;
    display: inline-block;
    padding: 1rem 2rem;
    color: v.$white;
    font-weight: 700;
  }
}
